h1 {
    text-align: center;
}

#canvas_dessin {
    background-color: grey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.fermer {
    cursor: pointer;
    font-size: 25px;
    float: right;
}

.joueurs{
    flex: flex;
    display: flex;
    align-items: center;
    gap: 25px
}
